.fr{
    float:right;
    }
.fl{
    float:left;
}
a{
    text-decoration: none;
    color: #222;
    outline: none;
}
.rel{
    position: relative;
}
// .c_clearfix{
//     content: ".";
//     display: block;
//     height: 0;
//     visibility: hidden;
//     clear: both;
// }
.clearfix:after{clear:both; content:''; font-size:0; display:block; visibility:hidden; height:0}
.l{
    float: left;
}
.r{
    float: right;
}
.webw{
    margin: 0 auto;
    width: 1140px;
}
// .a:active {
// 	outline: none;
//     star:expression(this.onFocus=this.blur());
// }

.navul li.channel a.hover{
    background-color:#bc0600}
// .yg-card span a:hover {
//         color:#f70800;
// }
// .yg-phone span a:hover{
// 	color:#f70800;
// }
.yg-phone span a.active{
    color:#f70800;
}
.webz {
    margin: 0 auto;
    width: 1000px;
}
body {
    font-family: "\5FAE\8F6F\96C5\9ED1",tahoma,arial,"\u5b8b\u4f53",sans-serif,Microsoft YaHei !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    font-size: 12px;
}
